<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ServletAltaProducto</display-name>
    <servlet-name>ServletAltaProducto</servlet-name>
    <servlet-class>com.cursojava.controller.ServletAltaProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAltaProducto</servlet-name>
    <url-pattern>/ServletAltaProducto</url-pattern>
  </servlet-mapping>
  <display-name>Servers-04-EjercicioProductosAlmacen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletProductoEliminar</display-name>
    <servlet-name>ServletProductoEliminar</servlet-name>
    <servlet-class>com.cursojava.controller.ServletProductoEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProductoEliminar</servlet-name>
    <url-pattern>/ServletProductoEliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProductoActualizarRedireccion</display-name>
    <servlet-name>ServletProductoActualizarRedireccion</servlet-name>
    <servlet-class>com.cursojava.controller.ServletProductoActualizarRedireccion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProductoActualizarRedireccion</servlet-name>
    <url-pattern>/ServletProductoActualizarRedireccion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProductoActualizar</display-name>
    <servlet-name>ServletProductoActualizar</servlet-name>
    <servlet-class>com.cursojava.controller.ServletProductoActualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProductoActualizar</servlet-name>
    <url-pattern>/ServletProductoActualizar</url-pattern>
  </servlet-mapping>
</web-app>