<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>CursoServlet</display-name>
    <servlet-name>CursoServlet</servlet-name>
    <servlet-class>com.curso.ejerciciocurso.controller.CursoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoServlet</servlet-name>
    <url-pattern>/CursoServlet</url-pattern>
  </servlet-mapping>
  <display-name>Servers-03-EjemplosJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletPersona</display-name>
    <servlet-name>ServletPersona</servlet-name>
    <servlet-class>com.curso.ejerciciocurso2.controller.ServletPersona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPersona</servlet-name>
    <url-pattern>/ServletPersona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNotaMediaFormulario</display-name>
    <servlet-name>ServletNotaMediaFormulario</servlet-name>
    <servlet-class>com.curso.ejerciciocurso2.controller.ServletNotaMediaFormulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNotaMediaFormulario</servlet-name>
    <url-pattern>/ServletNotaMediaFormulario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultadosNotaMedia</display-name>
    <servlet-name>ResultadosNotaMedia</servlet-name>
    <servlet-class>com.curso.ejerciciocurso2.controller.ResultadosNotaMedia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultadosNotaMedia</servlet-name>
    <url-pattern>/ResultadosNotaMedia</url-pattern>
  </servlet-mapping>
</web-app>