<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>PruebaServlet01</display-name>
    <servlet-name>PruebaServlet01</servlet-name>
    <servlet-class>com.curso.ejemplo01.PruebaServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PruebaServlet01</servlet-name>
    <url-pattern>/PruebaServlet01</url-pattern>
  </servlet-mapping>
  <display-name>Servers-01-PrimerEjemplo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormularioServlet01</display-name>
    <servlet-name>FormularioServlet01</servlet-name>
    <servlet-class>com.curso.ejemplo01.FormularioServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormularioServlet01</servlet-name>
    <url-pattern>/FormularioServlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario01</display-name>
    <servlet-name>ServletFormulario01</servlet-name>
    <servlet-class>com.curso.ejemplo01.ServletFormulario01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario01</servlet-name>
    <url-pattern>/ServletFormulario01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario02</display-name>
    <servlet-name>ServletFormulario02</servlet-name>
    <servlet-class>com.curso.ejemplo01.ServletFormulario02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario02</servlet-name>
    <url-pattern>/ServletFormulario02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario03</display-name>
    <servlet-name>ServletFormulario03</servlet-name>
    <servlet-class>com.curso.ejemplo01.ServletFormulario03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario03</servlet-name>
    <url-pattern>/ServletFormulario03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario04</display-name>
    <servlet-name>ServletFormulario04</servlet-name>
    <servlet-class>com.curso.ejemplo01.ServletFormulario04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario04</servlet-name>
    <url-pattern>/ServletFormulario04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletEnlace</display-name>
    <servlet-name>servletEnlace</servlet-name>
    <servlet-class>com.curso.ejemplo01.servletEnlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletEnlace</servlet-name>
    <url-pattern>/servletEnlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCookie</display-name>
    <servlet-name>CrearCookie</servlet-name>
    <servlet-class>com.curso.cookies.CrearCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCookie</servlet-name>
    <url-pattern>/CrearCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeerCookie</display-name>
    <servlet-name>LeerCookie</servlet-name>
    <servlet-class>com.curso.cookies.LeerCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerCookie</servlet-name>
    <url-pattern>/LeerCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearSesionProducto</display-name>
    <servlet-name>CrearSesionProducto</servlet-name>
    <servlet-class>com.curso.sessions.CrearSesionProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearSesionProducto</servlet-name>
    <url-pattern>/CrearSesionProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeerSesionProducto</display-name>
    <servlet-name>LeerSesionProducto</servlet-name>
    <servlet-class>com.curso.sessions.LeerSesionProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeerSesionProducto</servlet-name>
    <url-pattern>/LeerSesionProducto</url-pattern>
  </servlet-mapping>
</web-app>